<div class="panel panel-default heatmap">
  <div class="panel-heading">Heatmap</div>
  <div class="panel-body">
    <div id="cal-heatmap"></div>
    <script type="text/javascript">
      var cal = new CalHeatMap();
      cal.init({
        domain: "day",
        range: 14,
        start: new Date(new Date().setDate(new Date().getDate()-13)),
        cellSize: 12,
        legend: [2, 4, 8, 10],
        itemName: ["coffee consumption", "coffee consumptions"],
        data: "/api/consumptions/heatmap"
      });
    </script>
  </div>
</div>
