<h1>Consumptions</h1>

<div class="panel panel-default">
  <div class="panel-heading">Your consumption log</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Drink</th>
        <th>Consumed at</th>
        <th></th>
      </tr>

    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.drink.name %></td>
        <td><%= time_ago_in_words consumption.consumed_at %> ago</td>
        <td><%= link_to 'View', consumption %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
