/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// http://www.colourlovers.com/palette/3309464/Rebecca_Kling_2
$color1: #FF3D7F;
$color2: #FF9E9D;
$color3: #BE80FF;
$color4: #7FC7AF;
$color5: #3FB8AF;

$link-color: $color3;

// Buttons
$btn-default-bg: darken($color4, 5%);
$btn-default-border: darken($btn-default-bg, 5%);
$btn-default-color: #FFF;

// Navbar
$navbar-default-bg: $color4;
$navbar-default-link-color: #FFF;
$navbar-brand-hover-color: #FFF;

// Panels
$panel-bg: rgba(127, 199, 175, 0.02);

@import "bootstrap";

.container.page {
  margin-top: 60px;
}

div.actions .btn {
  margin-top: 20px;
}

div.stats {
  width: 49%;
}

div.map {
  width: 49%;
  float: right;
}

svg.cal-heatmap-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-bottom: 20px;
}
